<form *ngIf="errorForm" [formGroup]="errorForm">
  <p>
    Try selecting multiple countries and clicking outside. The values are no
    longer selected. The values are preserved, but if user clicks outside and
    makes a new selection, the old selections are gone.
  </p>
  <cds-select>
    <label>Countries</label>
    <select multiple formControlName="multiSelect">
      <option *ngFor="let option of options" [value]="option">
        {{ option }}
      </option>
    </select>
  </cds-select>
  <cds-input>
    <label>Name:</label>
    <input formControlName="name" type="text" />
  </cds-input>
  <cds-button (click)="onSubmit()">Submit</cds-button>
</form>
